
body{

height: 100vh;
width: 100vw;

}

header{

    grid-area: he;
    background-color: aqua;
}
nav{

    grid-area: na;
    background-color: aquamarine;

}
aside{

    grid-area: as;
    background-color: blueviolet;

}

footer{

    grid-area: fo;
    background-color: magenta;
}

#wrapper{
display: grid;
height: 100%;
grid-template-columns: 60% 40% ;
grid-template-rows: 40% 40% 10%;


grid-template-areas: 

"he na "
". . "
"fo as ";




}

@media screen and (max-width:700px){

#wrapper{
    height:200%;
    grid-template-rows: 10% 5% 30% 45% 10%;

    grid-template-areas: 

        "he he he he"
        "na na na na"
        "as as as as"
        "ma ma ma ma"
        "fo fo fo fo";





}


}